*{
    box-sizing: border-box;
    /* background-color: rgb(250, 241, 250);*/
     font-family: sans-serif;
     
}
  a{ 
text-decoration: none;
    color: blue;
}
body{
    overflow: hidden;
}
/*a:hover{
    color:mediumorchid;
}*/
.img{
    max-width: 100%;
    height: auto;
}
.centrar {
    text-align: center;
}
input{
    font-size: inherit;
}