*{box-sizing: border-box;
}
.container{
    background-color: deeppink;
    width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    display:flex;
    flex-wrap: wrap;
  

}

section{
    background-color: lawngreen;
    width: 900px;
    height: 300px;
}

    
aside{
    background-color: mediumblue;
    width: 300px;
   height: 300px;
   flex-shrink: 0;
 

}
