*{box-sizing: border-box;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 
 }
/*
.container{
   /* background-color: rgb(255, 94, 20);
    width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
}
.logotipo{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    
nav{
    /*background-color: rgb(129, 235, 194);
    display: flex;
    justify-content: center;
}
a:hover{
    color:red;
}
section{
    /*background-color: lawngreen;
    width: 900px;
    height: 900px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   }

h2{
    /*background-color: rgb(237, 217, 247);
    justify-content: center;
    display: flex;
}

.hijo img {
   border :1px solid black;
   width: 400px;
   height: auto;
   background-color: cadetblue;
}
h2:hover{
       color:#FF7F50;
       
   }
    
aside{
   /* background-color: mediumblue;
    width: 200px;
   height:300px;
   flex-shrink: 0;
   justify-content: flex-end;
 

}
*/
