.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    background-color: blanchedalmond;

}
.block-center-row{
    display: flex;
    justify-content: center;
}